@mixin getRedBox ($boxSize, $backColor:rgb(170, 46, 46)) {
    width: $boxSize;
    height: $boxSize;
    background: $backColor;
}

@mixin addHover($borderColor:rgb(21, 71, 119)) {
    &:hover {
        border: 10px solid $borderColor;
    }
}

@mixin getScheme ($withChild) {
    width: 20px;
    height: 20px;
    background: blue;
    @if $withChild {
        .children {
            color: white;
        }
    }
}