/* .test {
  width: 20px;
  color: red;
}

.parent {
  width: 20px;
  height: 100px;
  background: yellow;
}
.parent .child {
  background: blue;
}

.parent {
  background: red;
}
.parent .child {
  background: blue;
}

.box {
  width: 20px;
  height: 100px;
  background: brown;
}
.box-blue {
  background: blue;
}

.box-100 {
  width: 100px;
  height: 100px;
  background: #aa2e2e;
}
.box-100:hover {
  border: 10px solid #154777;
}

.box-200 {
  width: 200px;
  height: 200px;
  background: rgba(31, 101, 206, 0.486);
}
.box-200:hover {
  border: 10px solid green;
}

.grandFather, .grandSon {
  font-size: 15px;
  line-height: 40px;
  letter-spacing: 3px;
}

.grandSon {
  font-size: 30px;
}

.sector {
  height: 90px;
  width: 90px;
  background: pink;
}

.test1 {
  width: 20px;
  height: 20px;
  background: blue;
}

.test2 {
  width: 20px;
  height: 20px;
  background: blue;
}
.test2 .children {
  color: white;
}

.text {
  color: blue;
} */

@media (max-width: 768px) {
    .text {
        color: green;
    }
}


/*# sourceMappingURL=style.css.map */