@import "./variable.scss";
@import "mixin";
.parent {
    width: $widthBlock;
    height: 100px;
    background: yellow;
    .child {
        background: blue;
    }
}

.parent {
    background: red;
    .child {
        background: blue;
    }
}

.box {
    width: $widthBlock;
    height: 100px;
    background: brown;
    &-blue {
        background: blue;
    }
}

.box-100 {
    @include getRedBox(100px);
    @include addHover();
}

.box-200 {
    @include getRedBox(200px, rgba(31, 101, 206, 0.486));
    @include addHover(green);
}

.grandFather {
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 3px;
}

.grandSon {
    @extend .grandFather;
    font-size: 30px;
}

.sector {
    height: $widthBlock+$heightBlock;
    width: $widthBlock+$heightBlock;
    background: pink;
}

// @for $i from 10 through 70 {
//     .fontX#{$i} {
//         font-size: $i+px;
//     }
// }
// @for $i from 10 through 70 {
//     @if $i%2==0 {
//         .fontX#{$i} {
//             font-size: $i+px;
//         }
//     }
// }
.test1 {
    @include getScheme(false);
}

.test2 {
    @include getScheme(true);
}

.text {
    $color_768: green;
    color: $color;
    @media (max-width: 768px) {
        color: $color_768;
    }
}